body {
  background-color: #303030;
  color: #f0f0f0;
  font-family: Sans-Serif;
  padding: 5pt;
}

/* main elements */

.header div {
  text-align: center;
}

h1 {
  color: white;
}

img.logo {
  height: 150pt;
  vertical-align: baseline;
  vertical-align: bottom;
}

div.banner_wrapper {
  display: inline-block;
}

img.banner {
  height: 150pt;
  margin: 0;
}

.content {
  max-width: 800px;
  border-radius: 3pt;
  margin: 0 auto;
  color: white;
  padding: 5pt;
}

.content div {
  margin: 10pt;
}

p.video_header {
  text-align: center;
  font-size: 14pt;
}

.button {
  border-radius: 3pt;
  padding: 5pt;
  margin: 5pt;
}

/* navigation */
nav.top-bar:not(.expanded) {
  text-align: center;
}

section.top-bar-section {
  display: inline-block;
}

/* for mobile menu */
nav.top-bar ul li>a {
  padding: 0 0 0 25%;
}
nav .name {
  text-align: center;
}
nav.expanded section.top-bar-section {
  width: 100%;
}
nav.top-bar.expanded {
  height: 150pt;
}

nav a:hover {
  text-decoration: underline;
}

.orbit-container {
  margin: 0 auto;
  width: 288px;
}

.orbit-timer {
  display: none;
}
