extends layout

prepend head
  title Homes for the Lonely

block content
  .buttons
    span.button.adopt Adopt Your Child
    span.button.help Help Someone Adopt
    span.button.share Intentionally Share
    span.button.more Learn More
  .video_header Watch the video
  img(src="http://placehold.it/600x300?text=Video", width="100%")
  //| <iframe src="https://www.youtube.com/embed/2YF1kmml9Lc?rel=0" frameborder="0" width="100%" allowfullscreen></iframe>
