extends layout

prepend head
  title Homes for the Lonely

block content
  div.intro Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum accumsan, metus id tincidunt facilisis, ipsum sem placerat magna, sed sagittis ante quam et magna. Vestibulum consectetur elementum facilisis.

  img(src="http://placehold.it/600x300?text=Video", width="100%")
  //| <iframe src="https://www.youtube.com/embed/2YF1kmml9Lc?rel=0" frameborder="0" width="100%" allowfullscreen></iframe>
